@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: radial-gradient(circle at top left, #ededed00 0%, #ededed 70%),
        radial-gradient(circle at bottom right, #ededed00 0%, #ededed 70%),
        url("../images/grid.png");

    background-size: 100% 100%, 100% 100%, 20px 20px;
    background-repeat: no-repeat, no-repeat, repeat;

    min-height: 100vh;
    height: 100%;

    font-family: "Inter", sans-serif;
}

a {
    transition: all 0.1s ease-in-out;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    scale: 1.05;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

/****************   Nav Section **********************/
nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: sticky;
    top: 0;

    background: #edededdd;
    backdrop-filter: blur(10px);

    z-index: 100;
}

nav a.current {
    font-weight: 700;
    color: #0c2342;
}

nav * {
    color: #101020;
    text-decoration: none;
}

nav > div {
    display: flex;
    gap: 15px;
    max-width: 1024px;
    width: 100%;

    justify-content: space-around;
    align-items: center;
}

nav > div > div {
    display: flex;
    gap: 20px;
}

/***********************  Footer Section   **************************/
footer {
    display: flex;
    justify-content: center;
    background: #4f7491;
    color: white;
    width: 100%;

    margin-top: auto;
    margin-bottom: 0;
}

footer * {
    color: white;
    text-decoration: none;
}

/*********** Splash Page ************************/
header {
    background: linear-gradient(to bottom right, #4f7491 50%, #294a63);
    color: #ededed;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #10102050;

    min-height: 450px;
    height: 100vh;
    max-height: 70vh;

    align-items: center;
    justify-content: center;
}

header.thin-header {
    min-height: 0;
    max-height: 10000px;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
}

header > div {
    display: flex;
    gap: 25px;

    width: fit-content;
    max-width: 1024px;

    align-items: center;
}

header h1 {
    font-weight: 700;
    font-size: 5rem;
    margin: 0;

    position: relative;
}

.img-container {
    position: relative;
    height: fit-content;

    width: fit-content;
    display: block;
}

header img {
    border-radius: 5px;
    position: relative;
}

header .img-container::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 100%;

    left: 2px;
    top: 0;

    filter: blur(5px);

    background: linear-gradient(to bottom, #0000, #000a);
    border-radius: 7px;
}

header .info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;
}

header .info > * {
    border-radius: 5px;
    background: #0c2342;
    padding: 2px 10px;
    color: white;
    box-sizing: border-box;

    font-size: 0.9rem;

    margin: 0;
}

header .cta {
    margin-top: 50px;
    margin-bottom: 0;
}

.cta {
    display: flex;
    flex-direction: column;
}

.cta p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.cta a {
    background: #0c2342;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid #0c234200;
}

.cta a.alternate {
    background: #ededed50;
    border: 2px solid #0c2342;
    color: #0c2342;
}

.cta .buttons {
    display: flex;
    gap: 10px;
}

/************* Sections ********************/
hr {
}

section {
    max-width: 680px;
    width: 100%;
    color: #202030;
    padding: 20px;
    box-sizing: border-box;
}

section h2 {
    font-weight: 500;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid #80809a;
}

section dl {
    display: grid;
}

section ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

section a {
    color: #0c2342;
    font-weight: bold;
}

section a::after {
    content: " ↗";
    font-size: 0.8rem;
}

section a:hover {
    opacity: 0.8;
}

#education dt:first-of-type {
    transition: all 0.1s 1s ease-in-out;
}

#education dt:first-of-type:hover {
    color: #ba0c2f;
}

#skills li {
    background: #4f7491;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}

#projects {
    margin-bottom: 100px;
}

dt {
    font-weight: 600;
    font-size: 1.2rem;
}

dd {
    margin-top: 0;
    margin-bottom: 15px;
    font-style: italic;
}

/**************   Projects   *****************/
.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.two-col > * {
    break-inside: avoid;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.card img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #0005;

    aspect-ratio: 16/9;
}

.card {
    border-radius: 15px;
    padding: 0 20px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;

    height: fit-content;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    background: #ffffff80;
    backdrop-filter: blur(10px);
}

.card ul {
    flex-direction: column;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
        flex-direction: column;
    }

    .two-col {
        grid-template-columns: 1fr;
    }

    header > div {
        flex-direction: column;
        align-items: center;
    }

    header {
        height: auto;
        max-height: none;
    }

    header .info {
        flex-direction: column;
    }

    header * {
        text-align: center;
    }
}

/**************   Contact Page   *****************/

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    background: white;
    width: 680px;
    padding: 0 20px 20px 20px;
    box-shadow: 0 4px 12px #00000020;

    margin-top: 50px;
    margin-bottom: 100px;
}

form > div {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    margin-top: 15px;

    transition: 0.2s ease-in-out;

    color: #202030;
}

form > div:first-child {
    gap: 0;
    margin-bottom: 10px;
}
form > div:first-child > * {
    margin: 0;
    margin-bottom: 5px;
}
form label {
    color: #0c234280;
    position: absolute;
    top: 10px;
    left: 11px;

    transition: 0.2s ease-in-out;
    pointer-events: none;

    font-size: 1rem;
}

form > div:has(input:not(:placeholder-shown)) label,
form > div:has(textarea:not(:placeholder-shown)) label {
    top: -20px;
    left: 0;

    color: #0c2342cd;
}

form > div:has(input:not(:placeholder-shown)),
form > div:has(textarea:not(:placeholder-shown)) {
}

input,
textarea {
    outline: none;
    border: 1px solid #0c234280;
    padding: 10px 10px;
    background: #0c234210;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input::placeholder,
textarea::placeholder {
    opacity: 0;
}

form button {
    background: #0c2342;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    transition: all 0.1s ease-in-out;

    font-size: 1rem;

    margin-top: 50px;
}

form button:hover {
    opacity: 0.8;
    cursor: pointer;
}
